.App {
   border-color: white;
}
.common {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "header header"
            "nav content";
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 60px 10fr;
}
